<nav>
        
  <div>

      <a href="/">Agenda</a>

  </div>

  <div>

      <% if(typeof user !== 'undefined') { %>

          <a href="/contacts">Contacts</a>
          <a href="/logout">Logout</a>
  
      <% } else { %>    

          <a href="/login">Login</a>

      <% } %>     

  </div>

</nav>
